<footer class="site-footer">
  <div class="footer-content">

    <p>© 2026 Assembler Studio</p>
    <p>Studio professionale · ID 00000000000 · P.IVA 00A00A000A</p>

    <p>
     <a href="https://www.linkedin.com/in/tuo-link" target="_blank">🔗 LinkedIn</a> ·
     <a href="https://github.com/emalinux" target="_blank">🐙 GitHub</a> ·
     <a href="/privacy">🔐 Privacy & Cookie</a>
    </p>

    <p>
      Realizzato con ❤️ da <a href="https://www.assemblercomputer.net/" target="_blank">Manuel - Assembler Studio</a>
    </p>

  </div>
</footer>