<footer class="site-footer">
  <div class="footer-content">

    <p>© 2026 Assembler Studio</p>
    <p>Studio professionale · Progettiamo e sviluppiamo esperienze digitali solide · P.IVA 03701720041</p>

    <p>
     <a href="https://www.linkedin.com/in/emanuele-bottello-4997a7144?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BR%2FKnqvEgT9Sx0OCluFns%2Fw%3D%3D" target="_blank">🔗 LinkedIn</a> ·
     <a href="https://github.com/emalinux" target="_blank">🐙 GitHub</a> ·
     <a href="/privacy">🔐 Privacy & Cookie</a>
    </p>

    <p>
      Realizzato con ❤️ da <a href="https://www.assemblercomputer.net/" target="_blank">Manuel - Assembler Studio</a>
    </p>

  </div>
</footer>