<section class="hero">
  <div class="hero-content">
    <div class="hero-img">
      <img src="/img/heros.png" alt="Assembler Computer T-shirt">
    </div>

    <div class="hero-text">
      <blockquote>
        <h1 class="hero-title">Sviluppiamo idee.</h1>
        <p class="hero-subtitle">Non solo siti, ma esperienze, strumenti, soluzioni su misura.</p>
      </blockquote>
      <p class="hero-desc">Siti web, progetti tecnici, idee fuori dagli schemi.</p>

      <div class="hero-buttons">
        <a href="#progetti" class="btn yellow">Guarda i progetti</a>
        <a href="/contatti/" class="btn dark">Contattaci</a>
      </div>
    </div>
  </div>
</section>